In [1]:
import pandas as pd

In [2]:
cle_train = pd.read_csv('Archive/cle_metadata_cnn_train.csv')
cle_test = pd.read_csv('Archive/cle_metadata_cnn_test.csv')

In [3]:
vir_train = pd.read_csv('Archive/vir_metadata_cnn_train.csv')
vir_test = pd.read_csv('Archive/vir_metadata_cnn_test.csv')

In [4]:
hun_train = pd.read_csv('Archive/hun_metadata_cnn_train.csv')
hun_test = pd.read_csv('Archive/hun_metadata_cnn_test.csv')

In [5]:
cle = []
for i in [9,22,28,46,73,81,86]:
    cle.append(cle_test.iloc[i])
    
cle_test = cle_test.drop([9,22,28,46,73,81,86],axis = 0)
cle_df = pd.DataFrame(cle)
cle_df

,0,1,2,3,4,5,6,7,8,9,...,7.3,8.3,9.3,10.3,11.3,12.3,13.3,14.3,15.3,num
9,0.0,1.228595,0.811703,0.411852,0.754919,0.912713,0.973457,0.353916,0.652257,0.0,...,1.982687,0.0,0.0,1.444635,0.0,0.0,0.0,0.0,2.490665,0.00
22,0.0,1.391056,0.615840,0.156672,0.530205,0.728563,1.288971,0.355083,0.429833,0.0,...,1.860859,0.0,0.0,1.296231,0.0,0.0,0.0,0.0,2.280741,0.00
28,0.0,2.233627,0.000000,0.000000,0.000000,0.085241,1.856834,0.000000,0.000000,0.0,...,1.969122,0.0,0.0,1.371984,0.0,0.0,0.0,0.0,2.405090,0.00
46,0.0,0.252629,1.517351,0.997509,1.184709,1.548040,0.285145,1.095854,1.460200,0.0,...,1.892602,0.0,0.0,1.360326,0.0,0.0,0.0,0.0,2.376913,0.25
73,0.0,1.085899,0.812916,0.246338,0.605458,0.883749,0.986757,0.529776,0.674560,0.0,...,1.773966,0.0,0.0,1.245158,0.0,0.0,0.0,0.0,2.182720,0.00
81,0.0,1.462956,0.833085,0.268697,0.774038,0.857044,1.290432,0.318917,0.447466,0.0,...,1.894386,0.0,0.0,1.350325,0.0,0.0,0.0,0.0,2.311080,0.00
86,0.0,1.800251,0.326825,0.000000,0.336593,0.258179,1.375228,0.000000,0.000000,0.0,...,1.884950,0.0,0.0,1.359648,0.0,0.0,0.0,0.0,2.332756,0.00

In [6]:
vir = []
for i in [10,8,20,48]:
    vir.append(vir_test.iloc[i])
    
vir_test = vir_test.drop([10,8,20,48],axis = 0)
vir_df = pd.DataFrame(vir)
vir_df

,0,1,2,3,4,5,6,7,8,9,...,7.3,8.3,9.3,10.3,11.3,12.3,13.3,14.3,15.3,num
10,0.0,1.863091,0.131475,0.000000,0.084612,0.149540,1.468294,0.000000,0.000000,0.0,...,1.915102,0.0,0.0,1.339634,0.0,0.0,0.0,0.0,2.395332,0.0
8,0.0,2.002410,0.018163,0.000000,0.086646,0.302577,1.692492,0.000000,0.000000,0.0,...,1.932832,0.0,0.0,1.342986,0.0,0.0,0.0,0.0,2.349250,0.0
20,0.0,0.950554,0.929156,0.217737,0.778566,0.924046,0.768844,0.301108,0.523350,0.0,...,1.749298,0.0,0.0,1.216603,0.0,0.0,0.0,0.0,2.149651,0.0
48,0.0,1.203796,0.212933,0.000000,0.052588,0.411950,0.938172,0.000000,0.073651,0.0,...,1.378632,0.0,0.0,1.022546,0.0,0.0,0.0,0.0,1.680069,0.0

In [7]:
hun = []
for i in [22,61,88,95]:
    hun.append(hun_test.iloc[i])
    
hun_test = hun_test.drop([22,61,88,95],axis = 0)
hun_df = pd.DataFrame(hun)
hun_df

,0,1,2,3,4,5,6,7,8,9,...,7.3,8.3,9.3,10.3,11.3,12.3,13.3,14.3,15.3,num
22,0.0,0.806900,0.684368,0.188297,0.424260,0.761084,0.565412,0.236611,0.359720,0.0,...,1.379011,0.0,0.0,1.020007,0.0,0.0,0.0,0.0,1.732034,1.0
61,0.0,1.300780,0.537362,0.000000,0.419477,0.634206,1.070987,0.054865,0.139900,0.0,...,1.565594,0.0,0.0,1.122974,0.0,0.0,0.0,0.0,1.929282,0.0
88,0.0,1.528803,0.300625,0.000000,0.252635,0.322260,1.262992,0.000000,0.000000,0.0,...,1.769166,0.0,0.0,1.192168,0.0,0.0,0.0,0.0,2.225723,0.0
95,0.0,0.809298,0.949249,0.304412,0.850724,1.054647,0.719883,0.530515,0.740164,0.0,...,1.508819,0.0,0.0,1.040347,0.0,0.0,0.0,0.0,1.857566,1.0

In [8]:
cle_new_train = pd.concat([cle_train,cle_df])
cle_new_train = cle_new_train.reset_index().drop(['index'],axis = 1)
cle_new_train.to_csv('cle_metadata_cnn_train.csv',index = False)
cle_test.to_csv('cle_metadata_cnn_test.csv',index = False)

In [9]:
vir_new_train = pd.concat([vir_train,vir_df])
vir_new_train = vir_new_train.reset_index().drop(['index'],axis = 1)
vir_new_train.to_csv('vir_metadata_cnn_train.csv',index = False)
vir_test.to_csv('vir_metadata_cnn_test.csv',index = False)

In [10]:
hun_new_train = pd.concat([hun_train,hun_df])
hun_new_train = hun_new_train.reset_index().drop(['index'],axis = 1)
hun_new_train.to_csv('hun_metadata_cnn_train.csv',index = False)
hun_test.to_csv('hun_metadata_cnn_test.csv',index = False)