In [3]:
import pandas as pd

# CNN

In [2]:
cle_train = pd.read_csv('Archive/cle_metadata_cnn_train.csv')
cle_test = pd.read_csv('Archive/cle_metadata_cnn_test.csv')

In [3]:
vir_train = pd.read_csv('Archive/vir_metadata_cnn_train.csv')
vir_test = pd.read_csv('Archive/vir_metadata_cnn_test.csv')

In [4]:
hun_train = pd.read_csv('Archive/hun_metadata_cnn_train.csv')
hun_test = pd.read_csv('Archive/hun_metadata_cnn_test.csv')

In [5]:
cle = []
for i in [9,22,28,46,73,81,86]:
    cle.append(cle_test.iloc[i])
    
cle_test = cle_test.drop([9,22,28,46,73,81,86],axis = 0)
cle_df = pd.DataFrame(cle)
cle_df

,0,1,2,3,4,5,6,7,8,9,...,7.3,8.3,9.3,10.3,11.3,12.3,13.3,14.3,15.3,num
9,0.0,1.228595,0.811703,0.411852,0.754919,0.912713,0.973457,0.353916,0.652257,0.0,...,1.982687,0.0,0.0,1.444635,0.0,0.0,0.0,0.0,2.490665,0.00
22,0.0,1.391056,0.615840,0.156672,0.530205,0.728563,1.288971,0.355083,0.429833,0.0,...,1.860859,0.0,0.0,1.296231,0.0,0.0,0.0,0.0,2.280741,0.00
28,0.0,2.233627,0.000000,0.000000,0.000000,0.085241,1.856834,0.000000,0.000000,0.0,...,1.969122,0.0,0.0,1.371984,0.0,0.0,0.0,0.0,2.405090,0.00
46,0.0,0.252629,1.517351,0.997509,1.184709,1.548040,0.285145,1.095854,1.460200,0.0,...,1.892602,0.0,0.0,1.360326,0.0,0.0,0.0,0.0,2.376913,0.25
73,0.0,1.085899,0.812916,0.246338,0.605458,0.883749,0.986757,0.529776,0.674560,0.0,...,1.773966,0.0,0.0,1.245158,0.0,0.0,0.0,0.0,2.182720,0.00
81,0.0,1.462956,0.833085,0.268697,0.774038,0.857044,1.290432,0.318917,0.447466,0.0,...,1.894386,0.0,0.0,1.350325,0.0,0.0,0.0,0.0,2.311080,0.00
86,0.0,1.800251,0.326825,0.000000,0.336593,0.258179,1.375228,0.000000,0.000000,0.0,...,1.884950,0.0,0.0,1.359648,0.0,0.0,0.0,0.0,2.332756,0.00

In [6]:
vir = []
for i in [10,8,20,48]:
    vir.append(vir_test.iloc[i])
    
vir_test = vir_test.drop([10,8,20,48],axis = 0)
vir_df = pd.DataFrame(vir)
vir_df

,0,1,2,3,4,5,6,7,8,9,...,7.3,8.3,9.3,10.3,11.3,12.3,13.3,14.3,15.3,num
10,0.0,1.863091,0.131475,0.000000,0.084612,0.149540,1.468294,0.000000,0.000000,0.0,...,1.915102,0.0,0.0,1.339634,0.0,0.0,0.0,0.0,2.395332,0.0
8,0.0,2.002410,0.018163,0.000000,0.086646,0.302577,1.692492,0.000000,0.000000,0.0,...,1.932832,0.0,0.0,1.342986,0.0,0.0,0.0,0.0,2.349250,0.0
20,0.0,0.950554,0.929156,0.217737,0.778566,0.924046,0.768844,0.301108,0.523350,0.0,...,1.749298,0.0,0.0,1.216603,0.0,0.0,0.0,0.0,2.149651,0.0
48,0.0,1.203796,0.212933,0.000000,0.052588,0.411950,0.938172,0.000000,0.073651,0.0,...,1.378632,0.0,0.0,1.022546,0.0,0.0,0.0,0.0,1.680069,0.0

In [7]:
hun = []
for i in [22,61,88,95]:
    hun.append(hun_test.iloc[i])
    
hun_test = hun_test.drop([22,61,88,95],axis = 0)
hun_df = pd.DataFrame(hun)
hun_df

,0,1,2,3,4,5,6,7,8,9,...,7.3,8.3,9.3,10.3,11.3,12.3,13.3,14.3,15.3,num
22,0.0,0.806900,0.684368,0.188297,0.424260,0.761084,0.565412,0.236611,0.359720,0.0,...,1.379011,0.0,0.0,1.020007,0.0,0.0,0.0,0.0,1.732034,1.0
61,0.0,1.300780,0.537362,0.000000,0.419477,0.634206,1.070987,0.054865,0.139900,0.0,...,1.565594,0.0,0.0,1.122974,0.0,0.0,0.0,0.0,1.929282,0.0
88,0.0,1.528803,0.300625,0.000000,0.252635,0.322260,1.262992,0.000000,0.000000,0.0,...,1.769166,0.0,0.0,1.192168,0.0,0.0,0.0,0.0,2.225723,0.0
95,0.0,0.809298,0.949249,0.304412,0.850724,1.054647,0.719883,0.530515,0.740164,0.0,...,1.508819,0.0,0.0,1.040347,0.0,0.0,0.0,0.0,1.857566,1.0

In [8]:
cle_new_train = pd.concat([cle_train,cle_df])
cle_new_train = cle_new_train.reset_index().drop(['index'],axis = 1)
cle_new_train.to_csv('cle_metadata_cnn_train.csv',index = False)
cle_test.to_csv('cle_metadata_cnn_test.csv',index = False)

In [9]:
vir_new_train = pd.concat([vir_train,vir_df])
vir_new_train = vir_new_train.reset_index().drop(['index'],axis = 1)
vir_new_train.to_csv('vir_metadata_cnn_train.csv',index = False)
vir_test.to_csv('vir_metadata_cnn_test.csv',index = False)

In [10]:
hun_new_train = pd.concat([hun_train,hun_df])
hun_new_train = hun_new_train.reset_index().drop(['index'],axis = 1)
hun_new_train.to_csv('hun_metadata_cnn_train.csv',index = False)
hun_test.to_csv('hun_metadata_cnn_test.csv',index = False)

# DNN

In [1]:
cle_train = pd.read_csv('SplitedMetaData/cle_metadata_dnn_train.csv')
cle_test = pd.read_csv('SplitedMetaData/cle_metadata_dnn_test.csv')

NameError: name 'pd' is not defined

In [ ]:
vir_train = pd.read_csv('SplitedMetaData/vir_metadata_dnn_train.csv')
vir_test = pd.read_csv('SplitedMetaData/vir_metadata_dnn_test.csv')

In [2]:
hun_train = pd.read_csv('SplitedMetaData/hun_metadata_dnn_train.csv')
hun_test = pd.read_csv('SplitedMetaData/hun_metadata_dnn_test.csv')

NameError: name 'pd' is not defined

In [7]:
cle = []
for i in [9,22,28,46,73,81,86]:
    cle.append(cle_test.iloc[i])
    
cle_test = cle_test.drop([9,22,28,46,73,81,86],axis = 0)
cle_df = pd.DataFrame(cle)
cle_df

,0,1,2,3,4,5,6,7,8,9,...,7.3,8.3,9.3,10.3,11.3,12.3,13.3,14.3,15.3,num
9,0.456281,0.528156,0.529211,0.555613,0.492412,0.512822,0.483396,0.508377,0.492848,0.532093,...,0.528080,0.547818,0.514307,0.500023,0.479452,0.432638,0.429773,0.486163,0.490290,0.00
22,0.455503,0.525156,0.531337,0.514876,0.504374,0.484305,0.506980,0.503998,0.514307,0.502955,...,0.510796,0.542530,0.470914,0.491406,0.484693,0.450470,0.431204,0.473619,0.504408,0.00
28,0.493020,0.482958,0.534978,0.542933,0.489376,0.496569,0.504175,0.493101,0.489888,0.513542,...,0.507091,0.520461,0.513912,0.504353,0.483527,0.476681,0.448169,0.504333,0.499670,0.00
46,0.447746,0.534116,0.547868,0.504369,0.501500,0.521493,0.457021,0.478695,0.505849,0.533882,...,0.513255,0.526987,0.506294,0.486246,0.505704,0.445073,0.428832,0.484857,0.491858,0.25
73,0.461085,0.513194,0.556101,0.520571,0.488009,0.496696,0.499040,0.496998,0.511369,0.505719,...,0.496937,0.554802,0.478982,0.463949,0.516006,0.467678,0.430776,0.459156,0.495303,0.00
81,0.435150,0.531696,0.551221,0.537312,0.449337,0.508741,0.485030,0.466011,0.512589,0.578558,...,0.506825,0.537220,0.500083,0.512718,0.468450,0.447221,0.429670,0.476999,0.538796,0.00
86,0.425796,0.540947,0.552049,0.503721,0.500834,0.513154,0.481899,0.449743,0.531079,0.559754,...,0.486285,0.545018,0.520045,0.513440,0.504853,0.437074,0.435312,0.486972,0.486162,0.00

In [8]:
vir = []
for i in [10,8,20,48]:
    vir.append(vir_test.iloc[i])
    
vir_test = vir_test.drop([10,8,20,48],axis = 0)
vir_df = pd.DataFrame(vir)
vir_df

,0,1,2,3,4,5,6,7,8,9,...,7.3,8.3,9.3,10.3,11.3,12.3,13.3,14.3,15.3,num
10,0.449646,0.528907,0.498092,0.462519,0.489523,0.508777,0.497325,0.474169,0.454122,0.503591,...,0.482137,0.515499,0.523202,0.486184,0.491514,0.476379,0.546324,0.518175,0.478846,0.0
8,0.488785,0.509233,0.460131,0.466099,0.460846,0.500689,0.504400,0.503073,0.462947,0.520537,...,0.504864,0.540466,0.527586,0.512086,0.488893,0.484488,0.546225,0.559534,0.443231,0.0
20,0.434533,0.480544,0.481349,0.487236,0.465432,0.547929,0.505102,0.485779,0.428843,0.526646,...,0.469002,0.475006,0.497360,0.484590,0.485009,0.477258,0.532024,0.521591,0.500382,0.0
48,0.480918,0.503710,0.464936,0.484571,0.480292,0.510695,0.510502,0.519000,0.479204,0.519759,...,0.490718,0.514967,0.521301,0.519340,0.484054,0.498514,0.538836,0.561290,0.442524,0.0

In [9]:
hun = []
for i in [22,61,88,95]:
    hun.append(hun_test.iloc[i])
    
hun_test = hun_test.drop([22,61,88,95],axis = 0)
hun_df = pd.DataFrame(hun)
hun_df

,0,1,2,3,4,5,6,7,8,9,...,7.3,8.3,9.3,10.3,11.3,12.3,13.3,14.3,15.3,num
22,0.490108,0.492367,0.488563,0.487793,0.495198,0.502775,0.517487,0.500597,0.509056,0.507079,...,0.495178,0.497744,0.533876,0.462788,0.501049,0.472409,0.499338,0.508067,0.529676,1.0
61,0.483685,0.498613,0.478604,0.487754,0.510728,0.487946,0.529723,0.493159,0.498613,0.495365,...,0.513931,0.507664,0.500665,0.452902,0.499122,0.457199,0.513680,0.497150,0.523561,0.0
88,0.476345,0.496224,0.485959,0.488809,0.503595,0.518979,0.520347,0.491363,0.499720,0.511617,...,0.490549,0.504521,0.508936,0.502467,0.511517,0.482716,0.506071,0.500448,0.509743,0.0
95,0.490297,0.497950,0.473245,0.498749,0.507454,0.481953,0.528355,0.495543,0.491902,0.507735,...,0.507632,0.495347,0.512302,0.479828,0.513049,0.471069,0.501134,0.494749,0.517502,1.0

In [10]:
cle_new_train = pd.concat([cle_train,cle_df])
cle_new_train = cle_new_train.reset_index().drop(['index'],axis = 1)
cle_new_train.to_csv('cle_metadata_dnn_train.csv',index = False)
cle_test.to_csv('cle_metadata_dnn_test.csv',index = False)

In [11]:
vir_new_train = pd.concat([vir_train,vir_df])
vir_new_train = vir_new_train.reset_index().drop(['index'],axis = 1)
vir_new_train.to_csv('vir_metadata_dnn_train.csv',index = False)
vir_test.to_csv('vir_metadata_dnn_test.csv',index = False)

In [12]:
hun_new_train = pd.concat([hun_train,hun_df])
hun_new_train = hun_new_train.reset_index().drop(['index'],axis = 1)
hun_new_train.to_csv('hun_metadata_dnn_train.csv',index = False)
hun_test.to_csv('hun_metadata_dnn_test.csv',index = False)

# RNN

In [12]:
cle_train = pd.read_csv('Archive/cle_metadata_rnn_train.csv')
cle_test = pd.read_csv('Archive/cle_metadata_rnn_test.csv')

In [13]:
vir_train = pd.read_csv('Archive/vir_metadata_rnn_train.csv')
vir_test = pd.read_csv('Archive/vir_metadata_rnn_test.csv')

In [14]:
hun_train = pd.read_csv('Archive/hun_metadata_rnn_train.csv')
hun_test = pd.read_csv('Archive/hun_metadata_rnn_test.csv')

In [15]:
cle = []
for i in [9,22,28,46,73,81,86]:
    cle.append(cle_test.iloc[i])
    
cle_test = cle_test.drop([9,22,28,46,73,81,86],axis = 0)
cle_df = pd.DataFrame(cle)
cle_df

,0,1,2,3,4,5,6,7,8,9,...,7.3,8.3,9.3,10.3,11.3,12.3,13.3,14.3,15.3,num
9,0.285631,0.616734,0.681459,0.417747,0.428198,0.396801,0.647723,0.257848,0.564787,0.753181,...,0.512270,0.471373,0.605453,0.360655,0.651189,0.481277,0.611126,0.448521,0.570791,0.00
22,0.231944,0.633549,0.592830,0.429878,0.590133,0.357787,0.602408,0.346521,0.552305,0.711150,...,0.475016,0.516847,0.647062,0.469815,0.617570,0.589102,0.552304,0.553504,0.590431,0.00
28,0.326213,0.524723,0.696554,0.407233,0.513136,0.510675,0.684186,0.460620,0.540763,0.717336,...,0.566277,0.589119,0.632679,0.501718,0.619810,0.566448,0.486329,0.634466,0.688488,0.00
46,0.215306,0.704079,0.516071,0.483221,0.571260,0.352929,0.449232,0.343888,0.558671,0.708443,...,0.565769,0.411823,0.500747,0.553190,0.490882,0.599781,0.444358,0.564119,0.607840,0.25
73,0.274638,0.708330,0.454120,0.436471,0.662106,0.408375,0.578520,0.357736,0.626368,0.584190,...,0.504026,0.517781,0.569571,0.542535,0.554071,0.690116,0.482672,0.598883,0.579648,0.00
81,0.291092,0.503730,0.755265,0.493913,0.508715,0.474172,0.627062,0.517120,0.507345,0.721631,...,0.598032,0.541079,0.550524,0.499335,0.513232,0.565242,0.458498,0.575053,0.660217,0.00
86,0.382805,0.529728,0.512340,0.516971,0.626368,0.423247,0.519283,0.429368,0.551623,0.488977,...,0.708157,0.611324,0.539771,0.493253,0.541259,0.521029,0.426252,0.675736,0.666584,0.00

In [16]:
vir = []
for i in [10,8,20,48]:
    vir.append(vir_test.iloc[i])
    
vir_test = vir_test.drop([10,8,20,48],axis = 0)
vir_df = pd.DataFrame(vir)
vir_df

,0,1,2,3,4,5,6,7,8,9,...,7.3,8.3,9.3,10.3,11.3,12.3,13.3,14.3,15.3,num
10,0.495554,0.453234,0.670614,0.425908,0.589280,0.371794,0.645403,0.400141,0.507533,0.510805,...,0.404613,0.213491,0.592541,0.408962,0.638772,0.506813,0.673564,0.569517,0.521153,0.0
8,0.327255,0.547567,0.623323,0.402681,0.456736,0.382815,0.670731,0.579320,0.475091,0.491567,...,0.375715,0.183857,0.594928,0.396668,0.627487,0.447792,0.620217,0.605609,0.458792,0.0
20,0.434350,0.571180,0.594055,0.554493,0.675440,0.242117,0.581896,0.502292,0.376668,0.463853,...,0.512430,0.340630,0.614627,0.360859,0.573066,0.575477,0.626834,0.429296,0.503162,0.0
48,0.396649,0.605036,0.506574,0.559622,0.372596,0.407098,0.702064,0.578782,0.416791,0.513371,...,0.472481,0.246648,0.509026,0.542091,0.664730,0.507749,0.472370,0.516903,0.450848,0.0

In [17]:
hun = []
for i in [22,61,88,95]:
    hun.append(hun_test.iloc[i])
    
hun_test = hun_test.drop([22,61,88,95],axis = 0)
hun_df = pd.DataFrame(hun)
hun_df

,0,1,2,3,4,5,6,7,8,9,...,7.3,8.3,9.3,10.3,11.3,12.3,13.3,14.3,15.3,num
22,0.420442,0.481506,0.177521,0.492286,0.377492,0.679658,0.416711,0.237822,0.333888,0.483541,...,0.540451,0.398035,0.497981,0.507739,0.335978,0.549272,0.391245,0.681539,0.713986,1.0
61,0.513070,0.497011,0.324947,0.677927,0.474300,0.674969,0.250162,0.398171,0.487661,0.557615,...,0.591549,0.451597,0.449194,0.481934,0.391319,0.464315,0.465388,0.643734,0.737123,0.0
88,0.560600,0.523055,0.483911,0.692399,0.362762,0.507424,0.333098,0.380661,0.311507,0.616838,...,0.636915,0.298132,0.686797,0.668968,0.381997,0.455760,0.208510,0.467115,0.582385,0.0
95,0.566970,0.502197,0.420686,0.619997,0.381977,0.508727,0.326801,0.363952,0.429766,0.561933,...,0.622674,0.471999,0.641353,0.504000,0.404137,0.404224,0.383472,0.508194,0.566593,1.0

In [18]:
cle_new_train = pd.concat([cle_train,cle_df])
cle_new_train = cle_new_train.reset_index().drop(['index'],axis = 1)
cle_new_train.to_csv('cle_metadata_rnn_train.csv',index = False)
cle_test.to_csv('cle_metadata_rnn_test.csv',index = False)

In [19]:
vir_new_train = pd.concat([vir_train,vir_df])
vir_new_train = vir_new_train.reset_index().drop(['index'],axis = 1)
vir_new_train.to_csv('vir_metadata_rnn_train.csv',index = False)
vir_test.to_csv('vir_metadata_rnn_test.csv',index = False)

In [20]:
hun_new_train = pd.concat([hun_train,hun_df])
hun_new_train = hun_new_train.reset_index().drop(['index'],axis = 1)
hun_new_train.to_csv('hun_metadata_rnn_train.csv',index = False)
hun_test.to_csv('hun_metadata_rnn_test.csv',index = False)