In [1]:
import pandas as pd

In [11]:
cle_train = pd.read_csv('Archive/cle_train.csv')
cle_test = pd.read_csv('Archive/cle_test.csv')

In [12]:
vir_train = pd.read_csv('Archive/vir_train.csv')
vir_test = pd.read_csv('Archive/vir_test.csv')

In [13]:
hun_train = pd.read_csv('Archive/hun_train.csv')
hun_test = pd.read_csv('Archive/hun_test.csv')

In [6]:
cle = []
for i in [9,22,28,46,73,81,86]:
    cle.append(cle_test.iloc[i])
    
cle_test = cle_test.drop([9,22,28,46,73,81,86],axis = 0)
cle_df = pd.DataFrame(cle)
cle_df

,cp_1.0,cp_2.0,cp_3.0,cp_4.0,restecg_0.0,restecg_1.0,restecg_2.0,slope_1.0,slope_2.0,slope_3.0,...,age,sex,trestbps,chol,fbs,thalach,exang,oldpeak,ca,num
9,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,...,0.708333,0.0,0.132075,0.326484,0.0,0.748092,1.0,0.290323,0.666667,0.25
22,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,...,0.250000,1.0,0.386792,0.175799,0.0,0.465649,0.0,0.000000,0.000000,0.00
28,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,...,0.479167,1.0,0.132075,0.244292,1.0,0.580153,0.0,0.016129,1.000000,0.00
46,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,...,0.729167,1.0,0.716981,0.230594,0.0,0.641221,0.0,0.096774,0.000000,0.00
73,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,...,0.562500,1.0,0.339623,0.296804,1.0,0.541985,1.0,0.096774,0.333333,0.50
81,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,...,0.541667,1.0,0.358491,0.518265,0.0,0.465649,1.0,0.193548,0.333333,0.75
86,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,...,0.583333,1.0,0.528302,0.342466,0.0,0.312977,1.0,0.096774,0.333333,0.25

In [7]:
vir = []
for i in [10,8,20,48]:
    vir.append(vir_test.iloc[i])
    
vir_test = vir_test.drop([10,8,20,48],axis = 0)
vir_df = pd.DataFrame(vir)
vir_df

,cp_1.0,cp_2.0,cp_3.0,cp_4.0,restecg_0.0,restecg_1.0,restecg_2.0,slope_1.0,slope_2.0,slope_3.0,...,age,sex,trestbps,chol,fbs,thalach,exang,oldpeak,ca,num
10,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.476190,1.0,0.642105,0.4869,1.0,0.279279,0.0,0.111111,0.466667,0.50
8,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,...,0.761905,1.0,0.631579,0.0000,1.0,0.729730,0.0,0.444444,0.266667,0.75
20,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.714286,1.0,0.403774,0.0000,0.0,0.545038,0.4,0.122581,0.266667,0.25
48,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,...,0.666667,1.0,0.663158,0.0000,0.0,0.459459,0.0,0.444444,0.533333,0.00

In [9]:
hun = []
for i in [22,61,88,95]:
    hun.append(hun_test.iloc[i])
    
hun_test = hun_test.drop([22,61,88,95],axis = 0)
hun_df = pd.DataFrame(hun)

IndexError: single positional indexer is out-of-bounds

In [8]:
cle_new_train = pd.concat([cle_train,cle_df])
cle_new_train = cle_new_train.reset_index().drop(['index'],axis = 1)
cle_new_train.to_csv('cle_metadata_cnn_train.csv',index = False)
cle_test.to_csv('cle_metadata_cnn_test.csv',index = False)

In [9]:
vir_new_train = pd.concat([vir_train,vir_df])
vir_new_train = vir_new_train.reset_index().drop(['index'],axis = 1)
vir_new_train.to_csv('vir_metadata_cnn_train.csv',index = False)
vir_test.to_csv('vir_metadata_cnn_test.csv',index = False)

In [10]:
hun_new_train = pd.concat([hun_train,hun_df])
hun_new_train = hun_new_train.reset_index().drop(['index'],axis = 1)
hun_new_train.to_csv('hun_metadata_cnn_train.csv',index = False)
hun_test.to_csv('hun_metadata_cnn_test.csv',index = False)